<div class="main-container container-show">
  <div class="first-section row">
    <div class="left-part col-6">
    <div class="carousel-style">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @pool.photos.each_with_index do |photo, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class="<%= "active" if index == 0 %>"></li>
          <% end  %>
        </ol>
        <div class="carousel-inner carousel-border carousel-style">
        <% @pool.photos.each_with_index do |photo, index| %>
          <div class="carousel-item carousel-style <%= "active" if index == 0 %>"> 
            <img class="d-block w-100 carousel-style" src=<%=photo.service_url %> alt="First slide">
          </div>
      <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>  
    </div>
    </div>


    <div class="right-part col 6">
    <div class="align-text">
          <h2><%= @pool.name %></h2>
    </div>
      <br><br><br><br>
      <p><%= @pool.description %></p>
    </div>

  </div>


<div class="separate">
</div>

<div class="second-section">
        <h3>Services</h3>
        <br><br>
          <div class="row">
            <% if @pool.has_lifeguard? == true %>
              <p class="col-3 mt-4">Has lifeguard  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
            <% if @pool.children_friendly? == true %>
              <p class="col-3 mt-4">Children friendly  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
            <% if @pool.jacuzzi_section? == true %>
              <p class="col-3 mt-4">Jacuzzi_section <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
            <% if @pool.climatization? == true %>
              <p class="col-3 mt-4">Climatization  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
            <% if @pool.pool_side? == true %>
              <p class="col-3 mt-4">Pool slide  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
            <% if @pool.has_floats? == true %>
              <p class="col-3 mt-4">Has floats  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
              <% if @pool.towels_include? == true %>
              <p class="col-3 mt-4">Towels included  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
              <% if @pool.pet_friendly? == true %>
              <p class="col-3 mt-4">Pet friendly  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
            <% if @pool.salted_water? == true %>
              <p class="col-3 mt-4">Salted water  <i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
            <% if @pool.includes_bar? == true %>
              <p class="col-3 mt-4">Includes bar<i class="fa fa-check green" aria-hidden="true"></i></p>
            <% end %>
          </div>


  <div class="separate">
  </div>

  <div class="show-ubication">
    <h3>Ubication</h3>
    <br><br>
    <div class="align-map">
        <div id="map"
          style="width: 800px; height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>

<br><br><br><br>
  <h1> Please make your booking </h1>
  <%= simple_form_for [@pool, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit %>
  <% end %>
</div>