
<div class="main-container">
  <h1> Please make your booking </h1>
  <%= simple_form_for @booking do |f| %>
  <%= f.input :user %>
  <%= f.input :pool %>
  <%= f.input :capacity %>
  <%= f.button :submit %>
<% end %>
</div>
