<!-- COMPLETE FORM AT TOP OF PAGE TO LOOK FOR POOLS -->
<body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('pool_banner.jpg')%>)">
<div class="main-container">
    <h1> Rent a pool <strong> and take a dip</strong></h1>
    <p> Have a mini vacation and relax </p>
    <div style="width:50%">
    <form accept-charset="UTF-8" action="/pools" method="get" >
      <div class="row in-line-search">
        <div class="col search-input">
          <input type="text" name = "query" class="form-control" placeholder="What city would you like to dive into?">
        </div>
       <button type="submit" class="red-button">Discover</button>
      </div>
    </form>
    </div>
</div>
</div>


<div class='main-container'>
<div class='cards'>
  <% @pools_sample.each do |pool| %>
  <a class = "link-card" href="/pools/<%=pool.id%>">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path pool.photos[rand(0..1)].key %>)">
    <div class = "card-trip-user">
      <p class="mt-2"><%= pool.user.name.capitalize %></p>
      <img src="<%= cl_image_path pool.user.avatar.key %>" class="avatar-bordered" />
    </div>
    <div class="card-trip-description">
      <h3 style="font-size:30px"><%= pool.name %></h3>
      <p style="font-size:15px">Capacity: <%= pool.capacity %> swimmers</p>
      <p style="font-size:15px">Price: $<%= pool.price %></p>
    </div>
  </div>
  </a>
  <% end %>
  </div>
</div>
</body>
