<!-- COMPLETE FORM AT TOP OF PAGE TO LOOK FOR POOLS -->
<div class="container-small">
<form accept-charset="UTF-8" action="/pools" >
  <div class="row in-line-search">
    <div class="col search-input">
      <input type="text" class="form-control" placeholder="City, country">
    </div>
    <div class="col search-input">
      <input type="number" class="form-control" placeholder="Number of swimmers">
    </div>
   <button type="submit" class="red-button">Search</button>
  </div>
</form>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('pool_banner.jpg')%>)">
<div class="main-container">
  <div class="main-container" >
    <h1> Rent a pool <strong> and take a dip</strong></h1>
    <p> Have a mini vacation and relax </p>
    <a class="red-button" href="/pools">Discover our pools</a>
  </div>
</div>
</div>


<div class='main-container'>

<!-- <div class= "red-button">
<a href = # >Find a pool</a>
</div> -->


<div class='cards'>
  <% @pools_sample.each do |pool| %>
  <a href="/pools/<%=pool.id%>">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path pool.photos[rand(0..2)].key %>)">
    <h2><%= pool.name %></h2>
    <p>Capacity: <%= pool.capacity %> swimmers</p>
    <p>Price: $<%= pool.price %></p>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
  </a>
  <% end %>
  </div>
</div>


